<launch>
    <!--<arg name="node_start_delay" default="3.0" />-->
    <!--<arg name="node_delay" default="4.0" />-->
    <include file="$(find startup)/launch/transform_sub.launch" />
    <!-- <include file="$(find startup)/launch/robot.launch" />-->
    <include file="$(find projector_opt)/launch/projector_two.launch" /> 
    <!--<include file="$(find pcl_fusion)/launch/fuse.launch" /> -->
    <!--<node name="pcl_fusion" pkg="pcl_fusion" type="pcl_fusion_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node name="safety_line" pkg="safetyline_depthmap" type="safetyline_depthmap_node" output="screen" launch-prefix="zsh -c 'sleep $(arg node_delay); $0 $@' "/> -->
</launch>