<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager_out" args="manager" output="screen" />

  <!-- Run a Statistical Ouliers Removal -->
  <node pkg="nodelet" type="nodelet" name="stat_outliers_sub" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
    <remap from="~input" to="/voxel_grid_sub/ouput" />
    <rosparam>
      mean_k: 50
      stddev: 1.0
      negative: False
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="stat_outliers_master" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
    <remap from="~input" to="/voxel_grid_master/ouput" />
    <rosparam>
      mean_k: 50
      stddev: 1.0
      negative: False
    </rosparam>
  </node>
</launch>