<launch>
	<arg name="robot_example" default="false"/>

    <rosparam file="$(find tuni_whitegoods)/config/parameters.yaml" />

    <include file="$(find tuni_whitegoods_perception)/launch/whitegoods_perception.launch" />

    <include file="$(find tuni_whitegoods_openflow_interface)/launch/projector_interface.launch" />
    
    <group if="$(arg robot_example)">
    	<include file="$(find tuni_whitegoods_openflow_interface)/launch/robot_interface.launch" />
    </group>

 	<include file="$(find tuni_whitegoods_transformations)/launch/transformation_servers.launch" />

 	<include file="$(find tuni_whitegoods_calibration)/launch/tf.launch" /> 
</launch>