<launch>
	<arg name="use_robot" default="false"/>
	<arg name="use_camera" default="true"/>
	<arg name="use_projector" default="true"/>

    <rosparam file="$(find tuni_whitegoods)/config/parameters.yaml" />

    <include file="$(find tuni_whitegoods_openflow_interface)/launch/projector_interface.launch" />

    <group if="$(arg use_camera)">
    	<include file="$(find tuni_whitegoods_perception)/launch/whitegoods_perception.launch" />
    </group>

    <group if="$(arg use_robot)">
    	<include file="$(find tuni_whitegoods_openflow_interface)/launch/robot_interface.launch" />
    </group>

 	<include file="$(find tuni_whitegoods_transformations)/launch/transformation_servers.launch" />

 	<include file="$(find tuni_whitegoods_calibration)/launch/tf.launch" /> 

</launch>