<launch>
	
    
    <include file="$(find tuni_whitegoods_perception)/launch/hand_tracking.launch" />

    <include file="$(find tuni_whitegoods_perception)/launch/smart_interface_interaction.launch" />
   
    <!-- <include file="$(find tuni_whitegoods_perception)/launch/border_violation_tracking.launch" /> -->
</launch>