<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" doc="The robot controller's IP address" default="192.168.125.1"/>

  <!-- Enable DEBUG output for all ABB nodes -->
  <arg name="debug" default="false"/>
  <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find abb_robot_bringup_examples)/config/rosconsole.conf"/>

  <!-- ============================================================================================================= -->
  <!-- Robot Web Services (RWS) related components.                                                                  -->
  <!-- ============================================================================================================= -->

  <!-- RWS state publisher (i.e. general states about the robot controller) -->
  <include file="$(find abb_rws_state_publisher)/launch/rws_state_publisher.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

  <!-- RWS service provider (i.a. starting/stopping the robot controller's RAPID execution) -->
  <include file="$(find abb_rws_service_provider)/launch/rws_service_provider.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>
  <param name="robot_description" textfile="$(find abb_irb4600_support)/urdf/irb4600_60_205.urdf"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher" >
  <remap from="joint_states" to="/rws/joint_states" />
  </node>
  <node pkg="projector" name="link_broadcaster" type="link_broadcaster.py"/>
</launch>
